.container {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.app-content {
  width: 500px;
  height: 400px;
  background-color: #adc3d4;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  border: 1px solid transparent;
}

.app-content__input {
  margin-bottom: 20px;
}

.app-content__list {
  padding: 0 20px;
  overflow: scroll;
}

input, button {
  padding: 5px;
  border-radius: 2px;
  border: none;
  font-size: 14px;
}

button {
  background-color: #552df9;
  color: white;
  margin-left: 12px;
  padding: 5px 15px;
}

ul {
  list-style-type: none;
}

li {
  background-color: white;
  margin: 12px;
  padding: 12px 60px;
  border-radius: 2px;
  border: 1px solid transparent;
}
